body{
	background-color:#F8F8F8!important;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}